@{
    ViewData["Title"] = "kids";
}

<div id="content" style="margin-bottom: -275px;">
    <div>
        <div id="action-book">
            <a href="" id="action-book1">Activity Books</a>
        </div>
        <div id="story-book">
            <a href="" id="story-book1">Story Books</a>
        </div>
        <div id="study-book">
            <a href="" id="study-book1">Study Books</a>
        </div>
    </div>

</div>
