
@{
    ViewData["Title"] = "Sucess";
}

<h1>Sucess</h1>

<h1 style="color:azure">YOUR ORDER PLACED SUCESSFULLY!</h1>
<h4>it will be delivered soon....</h4>

<a asp-action="Index" style="color:lightskyblue">Back to home page</a>